.userCard {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 328px;
  height: 254px;
  border-radius: 25px;
}
.userCard__userPhoto {
  border-radius: 50px;
  background-color: black;
  width: 70px;
  height: 70px;
  margin-top: 20px;
}
.userName {
  margin-top: 5px;
  margin-bottom: 10px;
}
.userCard__userInfo {
  line-height: 26px;
}

@media screen and (min-width: 768px) {
  .userCard {
    width: 344px;
    height: 254px;
  }
}

@media screen and (min-width: 1024px) {
  .userCard {
    width: 282px;
    height: 254px;
  }
}

@media screen and (min-width: 1900px) {
  .userCard {
    width: 370px;
    height: 254px;
  }
}
