@use "../../utils/colors";

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 21px;
  padding: 40px 16px;
  background-image: url("../../assets/hero-bg.png");
  color: white;
  width: 360px;
  height: 500px;
}
.hero__heading {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}
.hero__p {
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 10px;
}

.hero__button {
  background: colors.$primary;
  border: none;
  border-radius: 50px;
  width: 100px;
  height: 34px;
  font-size: 16px;
  margin-top: 10px;
}
