@use "../../utils/colors";

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 21px;
  padding: 40px 16px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/hero.jpeg");
  background-size: 350%;
  background-position: 0 -320px;
  color: white;
  width: 360px;
  height: 500px;
}
.hero__heading {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}
.hero__p {
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 10px;
}

.hero__button {
  background: colors.$primary;
  border: none;
  border-radius: 50px;
  width: 100px;
  height: 34px;
  font-size: 16px;
  margin-top: 10px;
}

.hero__content {
  width: 328px;
  height: 323px;
}

@media screen and (min-width: 768px) {
  .hero {
    width: 768px;
    background-size: 200%;
    background-position: 0 85%;
  }
  .hero__content {
    width: 380px;
    height: 257px;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    width: 1024px;
    height: 650px;
  }
}

@media screen and (min-width: 1900px) {
  .hero {
    width: 1170px;
    background-position: 0 80%;
  }
}
